<div id="footer" class="footer">
  <div class="footer--icone">
    <img src="assets/icone.svg" alt="icone">
  </div>
  <div class="bar"></div>
  <div class="footer--informacoes">
    <h3>HORÁRIOS
      <br>06h as 18:15h
    </h3>
    <h3>TELEFONES</h3>
    <h3>ENDEREÇO E INFORMAÇÕES
      <p>Rua Arnaldo Magniccaro, 658 - Vila Gea CEP: 04691-060
        São Paulo - SP
        <br>CNPJ: 36.692.825/0001-61</p>
    </h3>
  </div>
  <div class="footer--iconesevagas">
      <div class="footer--icones">
        <a href="https://www.instagram.com/coffeetime.658/" target="_blank"><img src="assets/logoinsta.svg" alt=""></a>
        <a href="https://api.whatsapp.com/send/?phone=5511989952080&text=Olá%2C+gostaria+de+fazer+um+pedido%2Ftirar+uma+dúvida%2C+por+favor%21&type=phone_number&app_absent=0"><img src="assets/logowpp.svg" alt=""></a>
        <img class="logoifood" src="assets/logoifood.svg" alt="TESTE">
      </div>
      <h3>VAGAS DE EMPREGO
        <p>Clique AQUI se deseja fazer parte da equipe e envie seu curriculo.</p>
      </h3>
</div>
