
  <div class="flex w-full h-[50px] justify-center">
      <button *ngFor="let categoria of categorias"
          (click)="selecionarCategoria(categoria)"
          [class.active]="categoriaSelecionada === categoria"
          class="btn-cardapio">
          {{ categoria }}
      </button>
  </div>

  <div class="w-full h-[800px] mt-[40px]">
        <div class="flex justify-center mt-[40px]">
          <h1 class="text-[64px] font-aleppo text-[#361003]">{{ categoriaSelecionada }}</h1>
        </div>
        <div class="flex flex-wrap gap-4 justify-center mt-[40px]">
          <div *ngFor="let item of getItensFiltrados()" class="item-cardapio">
            <div class="relative">
              <img [src]="item.imagemItem" alt="{{ item.nome }}" class="w-full h-50 object-cover">
            </div>
            <div class="item-cardapio__div">
              <h3 class="item-cardapio__titulo">{{ item.nome }}</h3>
              <p class="item-cardapio__descricao">{{ item.descricao }}</p>
              <p class="item-cardapio__preco">R$ {{ item.preco }}/kg</p>
              <button class="w-full bg-[#361003] hover:bg-[#74461A] text-white font-medium py-3 rounded-lg transition-colors">
                Visualizar
              </button>
            </div>
          </div>
        </div>
  </div>

