
  <div class="flex w-full h-[50px] justify-center">
      <button *ngFor="let categoria of categorias"
          (click)="selecionarCategoria(categoria)"
          [class.active]="categoriaSelecionada === categoria"
          class="btn-cardapio">
          {{ categoria }}
      </button>
  </div>

  <div class="w-[800px] h-[800px] ms-[22%] mt-10">
        <div class="flex justify-center mt-5">
          <h1 class="text-[36px] font-aleppo text-[#9d5f24]">{{ categoriaSelecionada }}</h1>
          <div class="w-[500px] h-[1.5px] bg-[#9d5f24] mt-7 ms-10"></div>
        </div>
        <div *ngFor="let item of getItensFiltrados()" class="item-cardapio">
          <img [src]="item.imagemItem" alt="{{ item.nome }}" class="item-cardapio__img">
          <div class="item-cardapio__div">
            <h3 class="item-cardapio__titulo">{{ item.nome }}</h3>
            <p class="item-cardapio__preco">R$ {{ item.preco }} /kg</p>
          </div>
          <p class="item-cardapio__descricao">{{ item.descricao }}</p>
        </div>
  </div>
