
  <div class="flex w-full h-35px] justify-center">
    <ul class="flex w-fit p-1 rounded-xl">
      <li class="btn-cardapio"><button>BOLOS</button></li>
      <li class="btn-cardapio"><button>SALGADOS</button></li>
      <li class="btn-cardapio"><button>SALGADOS GRANDES</button></li>
      <li class="btn-cardapio"><button>DOCES</button></li>
      <li class="btn-cardapio"><button>SOBREMESAS</button></li>
      <li class="btn-cardapio w-xl"><button>SOBREMESAS INDIVIDUAIS</button></li>
    </ul>
  </div>

  <div class="w-[800px] h-[800px] ms-[22%] mt-7">
    <div class="flex justify-center mt-5">
      <h1 class="text-[36px] font-aleppo text-[#9d5f24]">BOLOS</h1>
      <div class="w-[500px] h-[1.5px] bg-[#9d5f24] mt-7 ms-10"></div>
    </div>
    <div>
      <ul>
        <li class="flex w-[650px] h-[85px] ms-[10%] mt-10">
          <img src="" alt="" class="w-[80px] h-[80px] border-solid border-2 border-[#fcc84e]">
          <div class="flex flex-col ms-2">
            <h3 class="text-[14px] text-[#9d5f24] font-bold">BOLO DE <br>CENOURA</h3>
            <p class="text-[12px] text-[#9d5f24] font-medium">R$80,00/kg</p>
          </div>
          <p class="text-[14px] mt-6 ms-6 text-[#9d5f24] font-medium">BOLO DE CENOURA COM CHOCOLATE</p>
        </li>
        <div class="w-[635px] h-[1.5px] bg-[#fcc84e] mt-7 ms-[10%]"></div>
        <li class="flex w-[650px] h-[85px] ms-[10%] mt-10">
          <img src="" alt="" class="w-[80px] h-[80px] border-solid border-2 border-[#fcc84e]">
          <div class="flex flex-col ms-2">
            <h3 class="text-[14px] text-[#9d5f24] font-bold">BOLO DE <br>CENOURA</h3>
            <p class="text-[12px] text-[#9d5f24] font-medium">R$80,00/kg</p>
          </div>
          <p class="text-[14px] mt-6 ms-6 text-[#9d5f24] font-medium">BOLO DE CENOURA COM CHOCOLATE</p>
        </li>
        <div class="w-[635px] h-[1.5px] bg-[#fcc84e] mt-7 ms-[10%]"></div>
        <li class="flex w-[650px] h-[85px] ms-[10%] mt-10">
          <img src="" alt="" class="w-[80px] h-[80px] border-solid border-2 border-[#fcc84e]">
          <div class="flex flex-col ms-2">
            <h3 class="text-[14px] text-[#9d5f24] font-bold">BOLO DE <br>CENOURA</h3>
            <p class="text-[12px] text-[#9d5f24] font-medium">R$80,00/kg</p>
          </div>
          <p class="text-[14px] mt-6 ms-6 text-[#9d5f24] font-medium">BOLO DE CENOURA COM CHOCOLATE</p>
        </li>
        <div class="w-[635px] h-[1.5px] bg-[#fcc84e] mt-7 ms-[10%]"></div>
        <li class="flex w-[650px] h-[85px] ms-[10%] mt-10">
          <img src="" alt="" class="w-[80px] h-[80px] border-solid border-2 border-[#fcc84e]">
          <div class="flex flex-col ms-2">
            <h3 class="text-[14px] text-[#9d5f24] font-bold">BOLO DE <br>CENOURA</h3>
            <p class="text-[12px] text-[#9d5f24] font-medium">R$80,00/kg</p>
          </div>
          <p class="text-[14px] mt-6 ms-6 text-[#9d5f24] font-medium">BOLO DE CENOURA COM CHOCOLATE</p>
        </li>
      </ul>
    </div>
  </div>
