.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    margin: auto;
    background: #F8F8F8;
    border-radius: 20px;
    padding: 2rem 0;
  }

  .carousel-container {
    display: flex;
    transition: transform 0.4s ease-in-out;
  }

  .card {
    font-family: "Barlow", sans-serif;
    min-width: 100%;
    min-height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1.5rem;
    box-sizing: border-box;

    img {
        width: 100%;
        max-width: 400px;
        height: auto;
        image-rendering: high-quality;
    }

    .info {
      width: 45%;
      text-align: left;
      padding: 0;
      box-sizing: border-box;

      h2 {
        font-size: 2rem;
        color: #552800;
        margin: 0;
      }

      .sub {
        font-size: 1.2rem;
        color: #552800;
        font-weight: 600;
        margin: 0.2rem 0 0 0;
      }

      .preco {
        font-size: 2rem;
        color: #552800;
        font-weight: bold;
        margin: 0.50rem;

      }

      button {
        margin-top: 1rem;
        padding: 0.7rem 1.2rem;
        background-color: #552800;
        color: #fdd475;
        border: none;
        border-radius: 50px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fdd475;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0.5rem;
    font-size: 1.3rem;
    cursor: pointer;
    z-index: 10;

    &.prev {
      left: 10px;
    }

    &.next {
      right: 10px;
    }
  }
