<div class="carousel">
    <div class="carousel-container" [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">
      <div class="card" *ngFor="let item of cards">
        <img [src]="item.imagem" alt="Imagem do card">
        <div class="info">
          <h2>{{ item.titulo }}</h2>
          <p class="sub">{{ item.subtitulo }}</p>
          <p class="preco">{{ item.preco }}</p>
          <button>COMPRAR AGORA</button>
        </div>
      </div>
    </div>
  
    <button class="nav prev" (click)="voltar()">&lt;</button>
    <button class="nav next" (click)="avancar()">&gt;</button>
  </div>
  
