
  <div class="flex rounded-3xl shadow-lg flex flex-col md:flex-row" style="width: 100%; height: 100%;">
    <!-- Imagem do Produto -->
    <div class="md:w-1/2">
      <img [src]="data.imagemItem" alt="{{ data.nome }}" class="object-cover h-full rounded-3xl md:rounded-r-none" style="width: 100%; height: 100%;"/>
    </div>
    <!-- Detalhes do Produto -->
    <div class="p-6 flex flex-col justify-between">
      <h2 mat-dialog-title class="text-2xl font-bold text-[#361005] mb-2">{{ data.nome }}</h2>
      <div mat-dialog-content>
        <p class="text-[#361005] text-lg mb-4">{{ data.descricao }}</p>
        <p class="text-[#361005] text-xl font-semibold mb-6">R${{ data.preco }}</p>
      </div>
      <button mat-button class="px-6 py-2 bg-[#361005] text-white font-medium text-lg rounded-full hover:bg-[#74461A] transition">
       <a href="https://api.whatsapp.com/send/?phone=5511989952080&text=Olá%2C+gostaria+de+fazer+um+pedido%2Ftirar+uma+dúvida%2C+por+favor%21&type=phone_number&app_absent=0" target="_blank">COMPRAR AGORA</a>
      </button>
    </div>
  </div>
