/* You can add global styles to this file, and also import other style files */

body {
  background-color: #F7CB60; /* ou qualquer cor que quiser */
}

$cor-fundo-global: #F7CB60;
$cor-fundo-header: #361005;
$cor-fundo-cards: #FFFFFF;


