@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  background-color: #F8F8F8; /* ou qualquer cor que quiser */
}

.btn-cardapio {
  @apply flex justify-center mx-3 px-3 py-3 rounded-full bg-[#361005] font-aleppo text-[#F8F8F8] transition duration-300 hover:bg-[#7d4c1b] active:scale-95;
}
//////////////////// APPLY CARDAPIO CSS ////////////////////

.item-cardapio {
  @apply w-[300px] rounded-xl shadow-lg overflow-hidden hover:shadow-xl transition-all
}

.item-cardapio__div {
  @apply p-5 space-y-4
}

.item-cardapio__titulo {
  @apply text-[26px] text-[#361003] font-bold
}

.item-cardapio__preco {
  @apply text-[18px] text-[#361003] font-medium
}

.item-cardapio__descricao {
  @apply text-[18px] text-[#361003] font-medium
}

$cor-fundo-global: #F7CB60;
$cor-fundo-header: #361005;
$cor-fundo-cards: #FFFFFF;


