@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  background-color: #F8F8F8; /* ou qualquer cor que quiser */
}

.btn-cardapio {
  @apply flex justify-center mx-3 px-3 py-3 rounded-full bg-[#361005] font-aleppo text-[#F8F8F8] transition duration-300 hover:bg-[#7d4c1b] active:scale-95;
}


//////////////////// APPLY CARDAPIO CSS ////////////////////

.item-cardapio {
  @apply flex w-[650px] h-[85px]  ms-[10%] mt-10
}

.item-cardapio__img {
  @apply w-[80px] h-[80px] border-solid border-2 border-[#fcc84e]
}

.item-cardapio__div {
  @apply flex flex-col ms-2
}

.item-cardapio__titulo {
  @apply text-[14px] text-[#9d5f24] font-bold
}

.item-cardapio__preco {
  @apply text-[12px] text-[#9d5f24] font-medium
}

.item-cardapio__descricao {
  @apply text-[14px] mt-6 ms-6 text-[#9d5f24] font-medium
}

.item-cardapio__linha {
  @apply w-[635px] h-[1.5px] bg-[#fcc84e] mt-7 ms-[10%]
}

$cor-fundo-global: #F7CB60;
$cor-fundo-header: #361005;
$cor-fundo-cards: #FFFFFF;


