<section class="w-full bg-fundo-carrossel py-16 px-6 lg:px-20 font-poppins text-marrom-principal">
  <div class="max-w-6xl mx-auto">
    <h2 class="text-6xl font-extrabold text-marrom-principal text-center mb-16">SOBRE NÓS</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
      <div class="flex flex-col items-center lg:items-start max-w-lg mx-auto lg:mx-0">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJj7qjhwNXZUwnw_ztSimhvnUAJ40SVBt4Pg&s" alt="Imagem sobre nós" class="w-full max-w-xl rounded-md shadow-lg mb-5">
      </div>

      <div class="max-w-lg mx-auto lg:mx-0 text-lg font-medium leading-relaxed text-justify space-y-8">
        <p>
          A nossa padaria nasceu do sonho de levar mais sabor e carinho para a mesa das pessoas. Tudo começou em uma pequena cozinha, onde receitas de família ganhavam forma com ingredientes simples, mas cheios de afeto.
        </p>
        <p>
          Cada pão, bolo e doce que sai do nosso forno carrega uma história — a nossa história. Trabalhamos com produtos frescos, feitos diariamente com muito cuidado, respeitando o tempo de preparo e priorizando a qualidade em cada detalhe.
        </p>
        <p class="text-lg font-medium leading-relaxed text-justify">
          Hoje, nossa padaria é ponto de encontro da vizinhança, espaço de aconchego para um café da manhã especial, uma pausa no meio da tarde ou aquele mimo no final do dia. Seguimos crescendo com humildade, mantendo a essência que nos trouxe até aqui: o amor pelo que fazemos.
        </p>
        <p class="font-semibold text-xl">
          Seja bem-vindo! Aqui, você sempre encontra um sabor que aquece o coração. 🧡
        </p>
      </div>
    </div>
  </div>
</section>
